/* module2-solution CSS */

/* --- CSS reset --- */
*{
  padding:0;
  margin:0;
}

body{
  padding:0;
  margin:0;
}

/* --- General --- */

section{
}

article{
  float: left;
}

/* --- Media Queries --- */

/* Mobile */
@media screen and (max-width:767px){

  article{
    width: 100%;
    float: none;
    clear: both;
  }
}

/* Tablet */
@media (min-width:768px and max-width: 991px){

  article{
    width: 50%;
  }

  article.sushi{
    width: 100%
    clear: both;
  }

}

/* Destop */
@media (min-width:992px){
  article{
    width: 33%;
  }
}
